<%- include("../partials/header"); %> <!-- Include the shared header and navbar -->

<main> <!-- Makes POST request to /api/login route -->
    <div class="page-title-wrapper">
        <h1>
            <span>Customer Login</span>
        </h1>
    </div>

    <div class="login-container auth-container">
        <div class="block-title"><strong>Log into account</strong></div>
        <div class="block-note">If you already have an account, sign in using your email address.</div>
        <form action="/auth/login" method="post" id="loginForm">

            <fieldset class="form-fieldset">
                <div class="input-control">
                    <label for="email" class="form-label">Email</label>
                    <input
                    id="email"
                    type="email"
                    name="email"
                    class="form-input"
                    />
                    <div class="error"></div>
                </div>
            
                <div class="input-control">
                    <label for="password" class="form-label">Password</label>
                    <input
                    id="password"
                    type="password"
                    name="password"
                    class="form-input"
                    />
                    <div class="error"></div>
                </div>
            
            </fieldset>

            <div class="form-actions">
                <a href="/auth/forgot-password" class="forgot-password">Forgot password?</a>
                <button type="submit" class="submit-button">LOGIN</button>
                <a href="/auth/register" class="register-button">REGISTER</a>
            </div>
                
        </form>
    </div>
    
      
</main>


<%- include("../partials/footer"); %> <!-- Include the shared footer -->