<%- include('../partials/header') %>

<main class="container reset-pass-container">
  <h1>Reset Password</h1>

  <form
    action="/auth/reset-password"
    method="POST"
    id="resetPasswordForm"
    enctype="application/x-www-form-urlencoded"
  >
    <input type="hidden" name="token" value="<%= token %>" />

    <div class="input-control">
      <label for="password" class="form-label">New Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-input"
      />
      <div class="error"></div>
    </div>

    <div class="input-control">
      <label for="cpassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        id="cpassword"
        name="cpassword"
        required
        class="form-input"
      />
      <div class="error"></div>
    </div>

    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</main>

<%- include('../partials/footer') %>
