<%- include("../partials/admin-header.ejs"); %>

<main class="admin-main">
    <div class="add-products-container">
        <h1>Please use this form to add products in the database:</h1>
        <form action="/products/" method="post" enctype="multipart/form-data">
            <label for="name">Product name:</label>
            <input id="name" type="text" name="name" required >
            <label for="description">Product description:</label>
            <input id="description" type="text" name="description" required >
            <label for="detailed">Detailed Description:</label>
            <textarea id="detailed" name="detailed_description" rows="5" required></textarea>
            <label for="price">Price:</label>
            <input id="price" type="number" name="price" min="0.01" step="0.01" required >
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                    <option value="" disabled selected>Choose a product category</option>
                    <option value="belts">Belts</option>
                    <option value="wallets">Wallets</option>
                    <option value="bags">Bags</option>
                    <option value="watchstraps">Watchstraps</option>
                    <option value="minimalist">Minimalist</option>
                    <option value="accessories">Accessories</option>
                  </select>
            <label for="stock">Stock number:</label>
            <input id="stock"  type="number" name="stock" min="0" required >
            <label for="thumbnail">Thumbnail: (Single Image)</label>
            <input id="thumbnail"  type="file" name="thumbnail" placeholder="thumbnail" accept="image/*" required>
            <label for="images">Product Images: (Multiple Images, up to 10)</label>
            <input id="images" type="file" name="images" placeholder="images" accept="image/*" multiple required >
            <button type="submit">Add product</button>
        </form>
    </div>
    
</main>

<%- include("../partials/admin-footer.ejs"); %>