<%- include("../partials/header.ejs"); %>

<main>
    <h1>This is the admin dashboard. Use this form to add products in the database:</h1>
    <form action="/products/" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Product Name" required >
        <input type="text" name="description" placeholder="Product Description" required >
        <input type="number" name="price" placeholder="Product Price" required >
        <input type="text" name="category" placeholder="Product Category" required>
        <input type="number" name="stock" placeholder="Product Stock" required >
        <label for="thumbnail">Thumbnail (Single Image)</label>
        <input type="file" name="thumbnail" placeholder="thumbnail" accept="image/*" required>
        <label for="images">Product Images (Multiple Images)</label>
        <input type="file" name="images" placeholder="images" accept="image/*" multiple required >
        <button type="submit">Add product</button>
    </form>
</main>

<%- include("../partials/footer.ejs"); %>