<header class="header"> 

    <button class="header__hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="header__logo">
        <h1>
            <a href="/">Baydock</a>
        </h1>
    </div>

    <div class="header__icons">
        <div class="header__icon header__icon--search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </div>

        <div class="header__icon header__icon--cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
        </div>

    </div>

    <!-- Search modal and overlay -->
    <div class="header__search-modal">
        <div class="header__search-container">
          <button class="header__search-close">X</button>
          <input type="text" class="header__search-input" placeholder="Search...">
        </div>
    </div>

    <!-- Overlay for navbar modal -->
    <div class="header__navbar-overlay"></div>

    <div class="header__navbar">
        <button class="header__navbar-close">X</button>
        <ul class="header__nav-list">
            <li class="header__nav-item header__nav-item--search">
                <input type="text" placeholder="Search in catalogue"/>
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </li>
            <li class="header__nav-item"><a>Wallets</a></li>
            <li class="header__nav-item"><a>Belts</a></li>
            <li class="header__nav-item"><a>Accessories</a></li>
            <li class="header__nav-item"><a>Minimalist</a></li>
            <li class="header__nav-item"><a>About us</a></li>
            <li class="header__nav-item"><a>Login/Register</a></li>
        </ul>
    </div>   
       
</header>
