<header class="header"> 

    <button class="header__hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="header__logo">
        <h1>
            <a href="/">Baydock</a>
        </h1>
    </div>

    <div class="header__icons">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </a>

        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
        </a>
    </div>

    <div class="navbar__overlay"></div>

    <div class="header__navbar">
        <button class="navbar__close">X</button>
        <ul class="header__list">
            <li class="header_item"><a>MINIMALIST</a></li>
            <li class="header_item"><a>BIFOLD</a></li>
            <li class="header_item"><a>TRIFOLD</a></li>
            <li class="header_item"><a>CURELE</a></li>
            <li class="header_item"><a>ACCESORII</a></li>
            <li class="header_item"><a>DESPRE</a></li>
        </ul>
    </div>   
       
</header>
