<%- include("./partials/header"); %>

    <main>
        <h1> Error <%= partials.error.status %></h1>
        <p><%= locals.error.message || locals.message %></p>

    </main>

<%- include("./partials/footer"); %>