<%- include("./partials/header"); %>
<!-- Include the shared header and navbar -->

<main>
  <div class="category">
    <div class="category__display">
      <img class="category__image" src="/images/banners/leather-belts.jpg" />
      <div class="category__text">
        <h1>Leather belts</h1>
        <p>Belts that do not fear the passing of time.</p>
        <a href="/products?category=belts">Explore</a>
      </div>
    </div>

    <div class="category__display">
      <img class="category__image" src="/images/banners/leather-wallets.webp" />
      <div class="category__text">
        <h1>Wallets & cardholders</h1>
        <p>For those who travel light</p>
        <a href="/products?category=wallets">Explore</a>
      </div>
    </div>

    <div class="category__display">
      <img
        class="category__image"
        src="/images/banners/leather-watchstraps.jpg"
      />
      <div class="category__text">
        <h1>Watch straps</h1>
        <p>Straps that do not fear time</p>
        <a href="/products?category=watchstraps">Explore</a>
      </div>
    </div>

    <div class="category__display">
      <img
        class="category__image"
        src="/images/banners/leather-minimalist.jpg"
      />
      <div class="category__text">
        <h1>Minimalist</h1>
        <p>Everything that you need, and nothing you don't</p>
        <a href="/products?category=minimalist">Explore</a>
      </div>
    </div>

    <div class="category__display">
      <img
        class="category__image"
        src="/images/banners/leather-backpacks.png"
      />
      <div class="category__text">
        <h1>Bags</h1>
        <p>To carry the world on your shoulders</p>
        <a href="/products?category=bags">Explore</a>
      </div>
    </div>

    <div class="category__display">
      <img
        class="category__image"
        src="/images/banners/leather-keychains.jpg"
      />
      <div class="category__text">
        <h1>Accesories</h1>
        <p>It's the small things that matter</p>
        <a href="/products?category=accessories">Explore</a>
      </div>
    </div>
  </div>
</main>

<%- include("./partials/footer"); %>
<!-- Include the shared footer -->
