<%- include("./partials/header"); %> <!-- Include the shared header and navbar -->

<main> <!-- Makes POST request to /api/login route -->
    <form action="/api/login" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Submit</button>
    </form>
</main>


<%- include("./partials/footer"); %> <!-- Include the shared footer -->