<%- include("./partials/header"); %> <!-- Include the shared header and navbar -->

<main> <!-- Makes POST request to /api/register route -->
    <form action="/api/register" method="post">
        <input type="text" name="firstname" placeholder="Prenume" required />
        <input type="text" name="lastname" placeholder="Nume" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="password" name="cpassword" placeholder="Confirm password" required />
    <button type="submit">Register</button>
    </form>
</main>


<%- include("./partials/footer"); %> <!-- Include the shared footer -->