
@font-face{
    font-family: blackerSansDisplay;
    src: url(./fonts/blacker-sans-display-trial.book.ttf)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.btn {
    width: 50px;
    position: relative;
    bottom: 12px;
}

body {
    margin-top: 200px;
}

.header-logo h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.header-logo {
    display: flex;
    justify-content: center;
    height: 136px;
    
    
}

.header-logo a {
    text-decoration: none;
    color: black;
}

.header-logo a:visited {
    text-decoration: none;
    color: black;
}

.horizontal-list {
    display: flex;
    justify-content: center;
    align-items:center;
    list-style-type: none;
}

.horizontal-list .item {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-right: 40px;
}


.wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
}


