@use "../util/" as u;

.admin-footer {
    background: var(--body-fill-color);
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--grey-text-color);
    border-top: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 992px) {
      margin-left: u.rem(250);
      width: calc(100% - u.rem(250));  
    }
    a {
      color: var(--text-color);
    }
  }