@use "../util/" as u;

.page-title-wrapper {
    border-top: 1px solid rgb(231, 231, 231);
    padding: 3.75rem 0;
    text-align: center;
    h1 {
        font-size: u.rem(28);
        font-weight: 700;
        margin: 0 auto;
    }
}

.auth-container {
    max-width: 90%;
    margin: 0 auto u.rem(40) auto;
    .block-title {
        font-size: u.rem(22);
        line-height: 1.2;
        margin: u.rem(15) 0;
    }

    .block-note {
        font-size: u.rem(12);
        margin: 0 0 u.rem(12);
        color: var(--icon-color);
    }

    .form-fieldset {
        border: none;
        margin: 0;
        padding: 0;
        .input-control {

            .form-label {
                font-size: u.em(13);
                font-weight: 500;
            }

            input {
                border-color: rgba(0, 0, 0, .09);
                height: auto;
                padding: 8px 12px;
                font-size: u.rem(12);
            }
        }
        
    }

    .form-actions {
        .forgot-password {
            font-size: u.rem(13);
            font-weight: 500;
            line-height: 21px;
            text-decoration: none;
            color: var(--text-color)
        }

        .submit-button {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: u.rem(16);
            line-height: 21px;
            padding: 16px 24px;
            border-radius: 4px;
            letter-spacing: 0.35px;
            cursor: pointer;
            margin: u.rem(22) 0;
            background-color: var(--text-color);
            color: var(--background-color);
        }

        .register-button {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 21px;
            padding: 16px 24px;
            border-radius: 4px;
            letter-spacing: 0.35px;
            margin: u.rem(22) 0;
            background-color: var(--text-color);
            color: var(--background-color);
        }
    }

    .input-reminder {
        margin-top: u.rem(26);
        line-height: 21px;
        align-items: center;
        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .input-control {
        display: flex;
        flex-direction: column;
    }
    
    .input-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 10px;
        width: 100%;
    }
    
    .input-control input:focus {
        outline: 0;
    }
    
    
    .input-control .error {
        color: #ff3860;
        margin-top: u.rem(8);
        margin-bottom: u.rem(8);
        font-size: u.rem(10);
    }
}

@media (min-width: u.rem(600)) {
    .auth-container {
        width: clamp(300px, 50vw, 600px);
    }

    .register-container {
        width: clamp(600px, 50vw, 900px);
    }

    #registerForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: u.rem(25);
    }

}



