@use "../util/" as u;

.page-title-wrapper {
    border-top: 1px solid rgb(231, 231, 231);
    background: var(--body-fill-color);
    padding: 3.75rem 0;
    text-align: center;
    h1 {
        font-size: u.rem(28);
        font-weight: 700;
        margin: 0 auto;
    }
}

.login-container {
    max-width: 90%;
    margin: 0 auto;
    .block-title {
        font-size: u.rem(22);
        line-height: 1.2;
        margin: u.rem(15) 0;
    }

    .block-note {
        font-size: u.rem(12);
        margin: 0 0 u.rem(12);
    }

    .form-fieldset {
        border: none;
        margin: 0;
        padding: 0;
        .input-control {

            .form-label {
                font-size: u.em(13);
                font-weight: 500;
            }

            input {
                border-color: rgba(0, 0, 0, .09);
                height: auto;
                padding: 8px 12px;
                font-size: u.rem(12);
            }
        }
        
    }

    .form-actions {
        .forgot-password {
            font-size: u.rem(13);
            line-height: 21px;
            text-decoration: none;
            color: var(--text-color)
        }

        .submit-button {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: u.rem(16);
            line-height: 21px;
            padding: 16px 24px;
            border-radius: 4px;
            letter-spacing: 0.35px;
            margin: u.rem(22) 0;
            background-color: var(--text-color);
            color: var(--background-color);
        }

        .register-button {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: 1rem;
            line-height: 21px;
            padding: 16px 24px;
            border-radius: 4px;
            letter-spacing: 0.35px;
            margin: u.rem(22) 0;
            background-color: var(--text-color);
            color: var(--background-color);
        }
    }
}

@media (min-width: u.rem(600)) {
    .login-container {
        width: clamp(300px, 50vw, 600px);
    }
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}


.input-control .error {
    color: #ff3860;
    margin-top: u.rem(8);
    font-size: u.rem(10);
    height: u.rem(20);
}