@use "../util/" as u;

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
